/* styles-produtos.css */

/* Estilo para o elemento root */

.root {
	-fx-background-color: darkslateblue; /* Define a cor de fundo como azul dodger */
}

/* Estilo para rótulos */

.label {
	-fx-font-size: 14px;  /* Define o tamanho da fonte como 14px */
	-fx-text-fill: black; /* Define a cor do texto como preto */
	-fx-font-weight: bold; /* Define a peso da fonte como negrito */
}

/* Estilo para os campos de texto */
.text-field {
	-fx-background-color: white; /* Define a cor de fundo como branco */
	-fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}

/* Estilo para botões */
.button {
	-fx-background-color: linear-gradient(to bottom, black, dodgerblue); /* Define um gradient de preto para azul dodger */
	-fx-text-fill: white; /* Define a cor do texto como branco */
	-fx-font-size: 14px; /* Define o tamanho da fonte */
	-fx-cursor: hand; /* Define o cursor como uma mão ao passar sobre o botão */
}

/* Estilo para botões ao passar no mouse */
.button:hover {
	-fx-background-color: linear-gradient(to bottom, lightskyblue, deepskyblue); /* Define um gradient de azul claro para um azul profundo */
}

/* Estilo para visualização de tabelas */
.table-view {
	-fx-background-color: white; /* Define a cor de fundo como branco */
	-fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}

/* Estilo para células de tabela */
.table-cell {
	-fx-padding: 10px; /* Define o preenchimento interno como 10px */
	-fx-border-color: lightgray; /* Define a cor da borda como cinza claro */
}